:root {
  --name-font: bold 24px Arial;
  --bold-font: bold 16px Arial;
  --header-font: bold 16px Arial;
  --main-font: normal 16px Arial;
  --app-background-color: white;
  --header-background-color: #1a0dab;
  --header-font-color: white;
}

.App {
  margin: auto;
  max-width: 800px;
  padding: 20px 0px;
  background-color: var(--app-background-color);
}

.businessCard {
  display: flex;
  justify-content: space-around;
}

.name {
  font: var(--name-font);
  text-transform: uppercase;
}

.contact {
  font: var(--bold-font);
}

.avatar {
  width: 200px;
}

.header {
  margin: 30px auto 15px;
  width: 90%;
  padding-left: 20px;
  background-color: var(--header-background-color);
  font: var(--header-font);
  color: var(--header-font-color);
}

.content {
  margin: 20px auto;
  width: 90%;
  font: var(--main-font);
}

.aboutMe-links {
  display: flex;
  margin: 20px auto;
  width: 90%;
  border-top: 1px solid var(--header-background-color);
  font: var(--main-font);
}

.aboutMe-links > nav {
  border-right: 1px solid var(--header-background-color);
  padding-right: 20px;
}

.aboutMe-link {
  display: block;
  padding: 10px 0;
}

.active {
  font-weight: bold;
}

.main-content {
  padding: 10px;
}

.main-content h4 {
  margin-top: 40px;
  margin-bottom: 10px;
}

.main-content div:first-child h4 {
  margin-top: 20px;
}

.main-content p {
  margin-top: auto;
}

@media (max-width: 600px) {
  .businessCard {
    flex-direction: column-reverse;
  }
  .avatarWrapper {
    margin: auto;
  }
  .contacts {
    margin: auto;
  }
  .aboutMe-links {
    flex-direction: column;
  }
  .aboutMe-link {
    display: inline;
    padding: 10px 5px;
  }
  .aboutMe-links > nav {
    border-right: none;
    border-bottom: 1px solid var(--header-background-color);
    padding-right: 20px;
  }
}

@media (max-width: 250px) {
  .avatar {
    width: 95%;
  }
  .name {
    font-size: 20px;
  }
}
